body {
    background-color:#8e830f;
    color:#000000;
    font-family: "New Amsterdam", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:#42453f;
    color: #dbdfd5;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}